[mysqld]
#skip-external-locking
#skip-name-resolve
user=mysql
default-storage-engine=INNODB
#log_timestamps=system
#innodb_max_dirty_pages_pct = 80
bind_address = 0.0.0.0
#symbolic-links=0
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
#init_connect='SET NAMES utf8mb4'
#character-set-client-handshake = FALSE
key_buffer_size = 512M
max_allowed_packet = 1024M
max_connections = 2000
sort_buffer_size = 8M
join_buffer_size = 8M
tmp_table_size = 128M
max_connect_errors = 1000
table_open_cache = 2000
max_heap_table_size = 128M
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
auto_increment_offset = 1
wait_timeout = 2147483
interactive_timeout = 2147483
explicit_defaults_for_timestamp = 1
read_buffer_size = 4M
read_rnd_buffer_size = 32M
query_cache_type = 1
query_cache_size = 256M
thread_cache_size = 128
back_log = 3000

########log settings########
log-output=FILE
general_log=OFF
general_log_file=/var/lib/mysql/general.log
slow_query_log=ON
slow_query_log_file=/var/lib/mysql/slowquery.log
long_query_time=10
log-error=/var/lib/mysql/error.log
log_queries_not_using_indexes=OFF
log_throttle_queries_not_using_indexes = 0

########innodb settings########
innodb_data_file_path = ibdata1:512M:autoextend
#innodb_data_file_path = ibdata1:256M;ibdata2:512M:autoextend
innodb_file_per_table = 1
innodb_buffer_pool_size = 6G
innodb_buffer_pool_instances = 10
innodb_old_blocks_time=1000
innodb_log_file_size = 512M
innodb_io_capacity = 12000
innodb_log_files_in_group = 3 
innodb_log_buffer_size = 32M
innodb_flush_method = O_DIRECT
innodb_thread_concurrency = 0
innodb_flush_log_at_trx_commit=1
innodb_open_files=50000
innodb_lock_wait_timeout = 30
innodb_read_io_threads = 8
innodb_write_io_threads = 8

sync_binlog = 1
sync_master_info = 0
sync_relay_log = 0
sync_relay_log_info = 0

[client]
default-character-set = utf8mb4

[mysqldump]
quick
max_allowed_packet = 256M

[mysql]
no-auto-rehash
tee = history.log
default-character-set = utf8mb4 

